.App {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 40px;
  padding: 20px;
  margin-top: 0;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.button-container {
  padding: .5em 0;
}

.Thumbnail {
  display: inline-block;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.Thumbnail-image {
  height: 125px;
  width: 125px;
  border: 1px solid #222;
}

.Gallery-image {
  border: 1px solid #222;
}