.App {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 40px;
  padding: 20px;
  margin-top: 0;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: .1em 0;
}

.button-container {
  padding: .5em 0;
}

.Add-image {
  margin: 1em auto 0;
  padding-top: 1em;
  width: 60%;
}

.Add-image-header {
  padding: 0 .5em;
}

.Add-image-icon {
  margin-bottom: 5px;
  margin-right: 5px;
}

fieldset {
  padding-bottom: 1em;
}

form {
  margin-bottom: 1em;
}

input {
  margin: 0 1em;
}

.Thumbnail {
  display: inline-block;
  height: 185px;
  width: 150px;
  overflow: hidden;
}

.Thumbnail-image {
  height: 125px;
  width: 125px;
  border: 1px solid #222;
}

.Gallery-image {
  max-width: 50%;
  border: 1px solid #222;
}

.out-of-bunnies {
  color: #f00;
}

.list-title {
  font-weight: bold;
}

.delete-button {
  margin-top: 1em;
}